<!doctype html>
<html ng-app="notesApp">
	<head>
		<style>
		
			.username.ng-valid{
				background-color:green;
			}
			.username.ng-dirty.ng-invalid-required{
				background-color:red;
			}
			.username.ng-dirty.ng-invalid-minlength{
				background-color:lightpink;
			}
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript">
		
			angular.module('notesApp',[]).controller('MyCtrl',[function(){
			
				var self=this;
				self.submit=function(){
					console.log('user submitted ',self.user.password);
				};
			}]);
		</script>
	</head>
	<body  ng-controller="MyCtrl as ctrl">
		<form ng-submit="ctrl.submit()" name="myForm">
			<input class="username" name="uname" type="text" ng-model="ctrl.user.username" required ng-minlength=3></input>
			<input type="password" ng-model="ctrl.user.password" required></input>
			<input type="submit" value="Submit" ng-disabled="myForm.$invalid"></input>
		</form>
	
	</body>
</html>